body {
    margin: 0;
}

#logooo {
    border-radius: 100%;
}

nav {
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 76);
}

/* Container do banner de todas as páginas */
#container {
    background-image: linear-gradient(to bottom, #ff93c7, #ffcb7c);
    background-repeat: no-repeat;
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.title {
    text-align: left;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
}

.text-content {
    margin-top: 0%;
    font-size: 20px;
    line-height: 1.6;
    padding-right: 20px;
    text-align: center;
}

.image-content {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    grid-row: 1 / 3;
}

.image-content img {
    max-width: 100%;
    height: auto;
}

/* Container do Grid da pagina principal */
.container_ofertas{
    margin-left: 27%;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Duas colunas para alternar a imagem e para o texto */
    gap: 0px; /* Espaço entre os elementos */
    padding: 0; /* Remove padding */
}

.item_ofertas1,
.item_ofertas2,
.item_ofertas3,
.item_ofertas4{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ffffff; /* Borda */
    background-color: #fff; /* Cor de fundo */
}


/* Container do Grid da pagina quem somos */
.grid_containerPrincipal{
    margin-left: 22%;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Duas colunas para alternar a imagem e para o texto */
    gap: 0px; /* Espaço entre os elementos */
    padding: 0; /* Remove padding */
}

.item_grid1,
.item_grid2,
.item_grid3,
.item_grid4{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ffffff; /* Borda */
    background-color: #fff; /* Cor de fundo */
}
#titulo_h1{
    font-style: italic;
    font-size: 40px;
}
#texto_containerPrincipal{
    font-size: 20px;
}

/* Container do Grid de busca */
.container_principal{
    display: grid;
    grid-template-columns: 1fr 2fr; /* Duas colunas: uma para a imagem e outra para o texto */
    gap: 0px; /* Espaço entre os elementos */
    align-items: start; /* Alinha os itens ao topo */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.grid_busca{
    display: grid;
    grid-template-columns: 1fr 2fr; /* Duas colunas: uma para a imagem e outra para o texto */
    gap: 0px; /* Espaço entre os elementos */
    align-items: start; /* Alinha os itens ao topo */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    width: 100%; /* Assegura largura total */
}

.grid_busca1{
    display: grid;
    grid-template-columns: 1fr; /* Duas colunas: uma para a imagem e outra para o texto */
    gap: 10px; /* Espaço entre os elementos */
    align-items: start; /* Alinha os itens ao topo */
    margin-right: 5%;
}

/* Estilo para cada item do grid */
#grid_busca1,
#grid_busca2,
#grid_busca3,
#grid_busca4,
#grid_busca5,
#grid_busca6,
#grid_busca7,
#grid_busca8{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc; /* Borda */
    background-color: #fff; /* Cor de fundo */
}
  
/* Estilo para as imagens */
.grid-item img {
    max-width: 100px; /* largura */
    height: auto;
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}
  
/* Estilo para o texto */
.grid-item .text {
    flex: 1;
}

/* Estilo para a barra de busca */
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    max-width: 500px;
}
.search-box input[type="search"] {
    border: none;
    padding: 10px;
    width: 100%;
}
.search-box button {
    border: none;
    background: #ff007b;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.search-box button:hover {
    background: #ff007b;
}

/* Estilo para a barra de preço */
.container_principal nav {
    text-align: center;
    margin-bottom: 10px; /* Espaçamento inferior para cada nav */
}

.container_principal label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

.container_principal input[type="range"] {
    text-align: center;
    width: 50%;
}
input[type="range"] {
    -webkit-appearance: none; /* Remove o estilo padrão no Safari */
    appearance: none; /* Remove o estilo padrão em outros navegadores */
    width: 100%; /* Define a largura do slider */
    height: 10px; /* Define a altura do slider */
    background: linear-gradient(to bottom, #ff93c7, #ffcb7c); /* Cor de fundo do slider */
    outline: none; /* Remove a borda ao focar */
    opacity: 0.8; /* Define a opacidade do slider */
    transition: opacity 0.2s; /* Suaviza a mudança de opacidade */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove o estilo padrão no Safari */
    appearance: none; /* Remove o estilo padrão em outros navegadores */
    width: 20px; /* Define a largura do thumb */
    height: 20px; /* Define a altura do thumb */
    background: #ffcb7c; /* Cor do thumb */
    cursor: pointer; /* Define o cursor ao passar por cima do thumb */
    border-radius: 50%; /* Faz o thumb ficar redondo */
}

input[type="range"]::-moz-range-thumb {
    width: 20px; /* Define a largura do thumb no Firefox */
    height: 20px; /* Define a altura do thumb no Firefox */
    background: #ff93c7; /* Cor do thumb no Firefox */
    cursor: pointer; /* Define o cursor ao passar por cima do thumb */
    border-radius: 50%; /* Faz o thumb ficar redondo */
}


.container_principal span {
    text-align: center;
    display: block;
    margin-top: 5px;
}

/* form da pag de contato */
#message11{
    background-color: #82003f37;
    border-radius: 100%;
    font-size: 40px;
    color: #000000;
    margin-left: 32%;
    text-align: center;
    margin-right: 32%;
    font-style: italic;
}
.contact-form {
    padding: 20px;
    font-weight: bold;
    color: #000000;
    margin: 5%;
    font-size: 25px;
    font-style: italic;
}
#mensagem{
    width: 50%;
    border: #82003f solid 2px;
}
#enviar_mensagem{
    font-size: 20px;
    padding: 15px;
    color: #ffffff;
    background-color: #fd49a0;
    border: #82003f solid 2px;
}
/* estilo da página de contatos */
#contatos_corpo_pagina{
    padding: 0%;
    display: grid;
    grid-template-columns: 50vw 40vw; 
    justify-items: left;
}
#corpo_item1{
    margin-left: 32%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start; /* Alinha os itens ao topo */
    width: 100%; /* Assegura largura total */
}
#corpo_item2{
    margin-left: 0%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start; /* Alinha os itens ao topo */
    width: 100%; /* Assegura largura total */
}
#item_contatos{
    color:#ff007b;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start; /* Alinha os itens ao topo */
}

/* form página de cadastro */
#cadastro{
    background-color: #82003f37;
    border-radius: 100%;
    font-size: 50px;
    color: #000000;
    margin-left: 32%;
    text-align: center;
    margin-right: 32%;
    font-style: italic;
}
#grupo1{
    margin-top: 5%;
    float: right;
    margin-right: 22%;
}
#data_nascimento{
    border: #82003f solid 2px;
    font-size: 20px;
}
#sobrenome{
    width: 200%;
    border: #82003f solid 2px;
}
#nome{
    width: 30%;
    border: #82003f solid 2px;
}
#telefone{
    width: 30%;
    border: #82003f solid 2px;
}
#cpf{
    width: 40%;
    border: #82003f solid 2px;
}
#email{
    width: 50%;
    border: #82003f solid 2px;
}
#endereco{
    width: 60%;
    border: #82003f solid 2px;
}
#formulario_cadastro{
    font-weight: bold;
    color: #000000;
    margin: 5%;
    font-size: 25px;
    font-style: italic;
}
#enviar{
    font-size: 20px;
    padding: 15px;
    color: #ffffff;
    background-color: #fd49a0;
    border: #82003f solid 2px;
}
#limpar{
    font-size: 20px;
    padding: 15px;
    color: #ffffff;
    background-color: #fd49a0;
    border: #82003f solid 2px;
}


/* form página de pedidos */
#pedidos{
    background-color: #82003f37;
    border-radius: 100%;
    font-size: 50px;
    color: #000000;
    margin-left: 32%;
    text-align: center;
    margin-right: 32%;
    font-style: italic;
}
#formulario_pedidos{
    font-weight: bold;
    color: #000000;
    margin: 5%;
    font-size: 25px;
    font-style: italic;
}

#tamanho{
    width: 50%;
    border: #82003f solid 2px;
}
#acompanhamento1{
    width: 50%;
    border: #82003f solid 2px;
}
#acompanhamento2{
    width: 50%;
    border: #82003f solid 2px;
}
#quantidade{
    width: 50%;
    border: #82003f solid 2px;
}
#acompanhamento3{
    width: 50%;
    border: #82003f solid 2px;
}
#grupo11{
    float: right;
}